body {
    overflow: hidden;
}

#image_holder {
    display: block;
    position: absolute;
    width: 100%;
    height: 75vh;
    animation-duration: 10s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

@keyframes rotate {
    from {
        transform: perspective(9cm) rotateY(0deg);
    }

    to {
        transform: perspective(9cm) rotateY(360deg);
    }
}

#image_holder img {
    display: block;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-color: rgb(230, 231, 232);
    border-width: 80px;
    border-style: solid;
}
#image-1 {
    transform: rotateY(0deg) translateZ(100vmin) scaleX(-1);
}
#image-2 {
    transform: rotateY(72deg) translateZ(100vmin) scaleX(-1);
}
#image-3 {
    transform: rotateY(144deg) translateZ(100vmin) scaleX(-1);
}
#image-4 {
    transform: rotateY(216deg) translateZ(100vmin) scaleX(-1);
}
#image-5 {
    transform: rotateY(288deg) translateZ(100vmin) scaleX(-1);
}